html,
body {
  min-width: 290px;
  color: #4d4e53;
  background-color: #ffffff;
  font-family: "Open Sans", Arial, sans-serif;
  line-height: 1.5;
}

#navbar {
  position: fixed;
  min-width: 250px;
  margin-top: 50px;
  /* top: 38px; */
  left: 0px;
  /* width: em; */
  height: 100%;
  border-right: solid;
  border-color: rgba(0, 22, 22, 0.4);
  background-color: #1b1b1b;
}

header {
  /* color: rgb(255, 255, 255); */
  margin-top: 0.15em;
  padding-top: 0.4em;
  text-align: center;
  font-size: 1.8em;
  font-weight: thin;
  /* border-top:1px solid #f7f7f7; */
}

#main-doc header {
  text-align: left;
  margin: 0px;
}
#comname {
  color: #c0b1b1;
  padding: 8px 5px;
  margin: 1px 1px;
  font-size: 1.25em;
}
#navbar ul {
  height: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  color: #ffffff;
  border-top: 1px solid;
  list-style: none;
  position: relative;
  width: 100%;
}
#navbar li:first-child {
  border-top: none;
  margin-top: -5px;
}
.nav-link {
  transition: ease-in 0.2s;
}

#navbar ul li a:hover {
  text-decoration: none;
  color: rgb(209, 63, 18);
  font-size: 1.2em;
  background: #1e1e1e;
  border-left-color: red;
}
#navbar ul li a {
  border-left: 3px solid transparent;
  /* padding-left: 40px; */
  font-weight: 500;
  display: block;
}

#navbar a {
  display: block;
  padding: 10px 30px;
  color: #f8f8f8;
  text-decoration: none;
  cursor: pointer;
  font-size: 1em;
}
.navbar {
  background-color: #161a22;
  opacity: 1;
  display: flex;
  /* justify-content: space-between; */
  position: fixed;
  width: 100%;
  height: 10%;
  z-index: 0;
  padding: none !important;
  justify-content: none !important;
}

.navbar ul {
  overflow: hidden;
  padding: 1px 1px;
  margin: 1px 1px;
  display: flex;
  justify-content: space-evenly;
}

.navbar li {
  list-style: none;
  float: left;
  padding: 5px;
  margin: 3px 3px;
}

.links {
  text-decoration: none;
  color: wheat;
  padding: 1px 1px;
  margin: 1px 1px;
  font-size: 1.25em;
}

.links:hover {
  text-decoration: none;
  color: rgb(209, 63, 18);
  padding: 1px 1px;
  margin: 1px 1px;
}

/* .links:visited {
  text-decoration: none;
  color: rgb(75, 53, 47);
  padding: 1px 1px;
  margin: 1px 1px;
} */

/* .search {
  float: right;
} */

.navbar input {
  padding: 2px 2px;
  margin: 14px 10px;
  border: solid 2 px #ebdc0d;
  border-radius: 8px;
  text-align: center;
}
@media (max-width: 768px) {
  .links {
    font-size: 1em;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar ul {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 576px) {
  .links {
    font-size: em;
  }
  .navbar input {
    width: 7em;
  }
}
.box {
  display: flex;
  justify-content: flex-end;
}

#main-doc {
  position: absolute;
  margin-left: 310px;
  padding: 20px;
  margin-bottom: 110px;
  margin-top: 50px;
}

section article {
  color: #4d4e53;
  margin: 15px;
  font-size: 0.96em;
}

section li {
  margin: 15px 0px 0px 20px;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}

@media only screen and (max-width: 815px) {
  /* For mobile phones: */
  #navbar ul {
    border: 1px solid;
    height: 207px;
  }

  #navbar {
    background-color: white;
    position: absolute;
    top: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    max-height: 275px;
    border: none;
    z-index: 1;
    border-bottom: 2px solid;
  }

  #main-doc {
    position: relative;
    margin-left: 0px;
    margin-top: 270px;
  }
}

@media only screen and (max-width: 400px) {
  #main-doc {
    margin-left: -10px;
  }

  code {
    margin-left: -20px;
    width: 100%;
    padding: 15px;
    padding-left: 10px;
    padding-right: 45px;
    min-width: 233px;
  }
}

html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
}
/* section {
  width: 100%;
  background: url(bg.jpg) no-repeat;
  background-size: cover;
} */
.gotopbtn {
  position: fixed;
  width: 50px;
  height: 50px;
  background: #1d1730;
  bottom: 40px;
  right: 50px;

  text-decoration: none;
  text-align: center;
  line-height: 50px;
  color: white;
  font-size: 22px;
}

.wrapper {
  display: flex;
  /* width: 100%; */
  /* align-items: stretch; */
}
.wrapper {
  display: flex;
  /* align-items: stretch; */
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}
#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}
a[data-toggle="collapse"] {
  position: relative;
}
.dropdown-toggle {
  border-bottom: 1px solid white;
}
.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}
/*
    ADDITIONAL DEMO STYLE, NOT IMPORTANT TO MAKE THINGS WORK BUT TO MAKE IT A BIT NICER :)
*/
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

a,
a:hover,
a:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

#sidebar {
  /* don't forget to add all the previously mentioned styles here too */
  background: #1b1b1b;
  color: #fff;
  transition: all 0.3s;
}

#sidebar .sidebar-header {
  padding: 5px;
  background: #1b1b1b;
}

#sidebar ul.components {
  padding: 20px 0;
  /* border-bottom: 1px solid #e4e2e2; */
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 1.1em;
  display: block;
  border-left: 3px solid transparent;
}
#sidebar ul li a:hover {
  text-decoration: none;
  color: rgb(209, 63, 18);
  font-size: 1.2em;
  background: #1e1e1e;
  border-left-color: red;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
  color: #fff;
  background: #1b1b1b;
}
ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #1b1b1b;
}
